# Dependências
node_modules/
dist/
build/

# Variáveis de Ambiente 
.env
.env.local
.env.production
.env.development

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Banco de Dados
*.db
*.sqlite

# IDEs e Editores
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# NestJS específico
thumbs.db
.cache/

# Docker 
.docker/